* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f9fafc;
  color: #111;
  overflow-x: hidden;
}

.fondo {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
}

.contenido {
  background-color: #fff;
  max-width: 800px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  z-index: 10;
  text-align: justify;
}

h1 {
  font-family: 'Fredoka One', cursive;
  text-align: center;
  color: #0d2b6b;
  font-size: 2.5rem;
  margin-bottom: 25px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 0 #fff, 2px 2px 0 #0d2b6b;
}

p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 15px;
}

strong {
  color: #0d2b6b;
}

/* Figuras decorativas */
.triangulo-izq, .triangulo-der {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.triangulo-izq {
  top: 0;
  left: 0;
  border-width: 200px 120px 0 0;
  border-color: #0d2b6b transparent transparent transparent;
}

.triangulo-der {
  bottom: 0;
  right: 0;
  border-width: 0 0 200px 120px;
  border-color: transparent transparent #0d2b6b transparent;
}

.circulo-izq, .circulo-der {
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #cfd9e8;
  border-radius: 50%;
  opacity: 0.6;
}

.circulo-izq {
  bottom: 5%;
  left: -50px;
}

.circulo-der {
  top: 10%;
  right: -50px;
}
