* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  overflow: hidden; 
}


.navbar {
  background-color: #3b5ea0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 40px;
  height: 80px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.logo h1 {
  font-size: 1.8rem;
  color: white;
  font-weight: 700;
}


.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  margin-left: 40px;
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #dcdcdc;
}


.submenu {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: 500;
  height: 60px;
}

.submenu a {
  text-decoration: none;
  color: #000;
  transition: 0.3s;
}

.submenu a:hover {
  color: #3b5ea0;
  font-weight: 600;
}


.imagen-principal {
  width: 100%;
  height: calc(100vh - 140px);
  overflow: hidden;
  position: relative;
}

.imagen-principal img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
/* ==== PANEL FLOTANTE ==== */
.perfil-panel {
  position: absolute;
  top: 90px;
  right: 20px;
  width: 260px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 6px 25px rgba(0,0,0,0.18);
  padding: 20px;
  z-index: 999;
  text-align: center;
  animation: aparecerPanel .25s ease;
}

@keyframes aparecerPanel {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.perfil-panel.oculto {
  display: none;
}

.perfil-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.perfil-panel h3 {
  margin: 5px 0;
}

.perfil-panel p {
  font-size: 14px;
  color: #444;
  margin: 2px 0;
}

.logout-btn {
  display: block;
  margin-top: 12px;
  background: #3b5ea0;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
}

.logout-btn:hover {
  background: #2f4d87;
}

/* Icono */
.perfil-box {
  cursor: pointer;
}
.icono-perfil {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.nombre-usuario {
  margin-right: 10px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
}
